@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font: 12px/1.5 "Meiryo","メイリオ";
	color:#333;
	-webkit-text-size-adjust: none;
	background:#FAAF3B; /* 背景 #BC8F5C */
  overflow-x: hidden;  /* 横スクロール禁止 */
}



#mainImg img{width:98%;height:auto;}
#mainImg{margin-bottom:20px;}






/* リンク設定
------------------------------------------------------------*/
#sidebar a:not(.typo_gy){
  margin:0;
  padding:0;
  text-decoration:none;
  outline:0;
  vertical-align:baseline;
  background:transparent;
  font-size:100%;
  color:#313131;
}

a:hover, a:active{
  outline: none;
  color:#990000;
}


/**** Clearfix ****/
/* nav .panel:after, nav#mainNav:after, .newsTitle:after, .bg:after,.post:after,.board_detail:after, ul.post li:after, ul.board_detail li:after,nav#mainNav .inner:after{content:""; display: table;clear: both;}
nav .panel,nav#mainNav,.newsTitle,.bg, .post,.board_detail, ul.post li, ul.board_detail li,nav#mainNav .inner{zoom: 1;} */


/* レイアウト
------------------------------------------------------------*/
#wrapper, .inner{width:100%;}
#wrapper, .inner{
margin:0 auto;
width:880px;
float:center;
}

#header{
/* overflow:hidden; */
}

#Xcontent{
float:right;
/* width:627px; */
padding:0px 0 0px;
}

/* #sidebar{
float:left;
width:233px;
padding:22px 0 50px;
} */

#footer{
clear:both;
} 


/* ヘッダー
*****************************************************/

/* サイト説明文
----------------------------------*/
#header h1{
	padding:20px 0 0;
	font-size:110%;
	font-weight:bold;
	text-align:left;
}


/* ロゴ (サイトタイトル)
----------------------------------*/
#header h2{
clear:both;
padding:5px 0 10px;
color: #515151;
font-size:150%;
font-weight:bold;
text-align:leftr;
}



/* トップページ　メイン画像
----------------------------------*/
#mainImg{
  clear:both;
  margin-top:0px;
  line-height:0;
  text-align:center;
  z-index:0;
}

.typo_gy{
/* margin:0 0 0px 0; */
padding:0px 0px 0px 0px;
border:5px solid #e2d7c2;
background: #FCFCE0;
}

/* ロゴ (サイトタイトル)
----------------------------------*/
#info h1{
  padding:5px 0 10px;
  color: #515151;
  font-size:150%;
  /* font-weight:bold; */
  text-align:left;
}

#info h2{
  margin:10px 0;
  padding-bottom:2px;
  font-size:130%;
  font-weight:normal;
  color: #333;
  font-weight:bold;
  /* border-bottom:2px solid #515151; */
}


/* .board_detail{
	margin:0 0 20px 0;
	padding:0px 10px 20px 20px;
	border:1px solid #e2d7c2;
	background: #FCFCE0;
} */

/* .toppage h4{
margin:0 0 10px;
font-size:16px;
font-weight:normal;
color:#333;
} */

/* .toppage{padding:10px 10px 20px 20px;} */


/* 記事
*****************************************************/
/* .list{
padding:10px 0;
border-bottom:1px dashed #dcdcdc;
}

.list:last-child{border:0;}

.post .list p{padding:0;} */

/* .board_detail .list p{padding:0;} */

/* .list span{padding-left:10px;} */


/* タイポグラフィ
*****************************************************/
/* h2.title{
clear:both;
margin:0;
padding:7px 10px 7px 10px;
font-size:110%;
color:#ffffff;
border:1px solid #e2d7c2;
border-bottom:0;
background:#562E02 url(images/headingBg.png) repeat-x 0 100%;
} */

/* .dateLabel{
text-align:right;
font-weight:bold;
color:#858585;
} */

.typo_gy ul li,ul.board_detail li{
  margin:5 5px;
  padding:5px 0 5px;
  border-bottom:1px dashed #dcdcdc;
}

/* .typo_gy p{padding-bottom:15px; padding-right:10px; padding-left:15px;} */
/* .board_detail p{padding-bottom:15px; padding-right:10px; padding-left:15px;} */

/* .typo_gy ul{margin: 0 0 10px 10px;} */
/* .board_detail ul{margin: 0 0 10px 10px;} */

.typo_gy ul li{
/* margin-bottom:0px;
padding-left:15px; */
/* background:url(images/bullet.png) no-repeat 0 8px; */
}

/* .board_detail ul li{
	margin-bottom:5px;
	padding-left:15px;
	background:url(images/bullet.png) no-repeat 0 8px;
} */

/* .card_info ol{margin: 0 0 10px 30px;} */
/* .board_detail ol{margin: 0 0 10px 30px;} */

/* .card_info ol li{list-style:decimal;} */
/* .board_detail ol li{list-style:decimal;} */

/* .typo_gy h1{
margin:20px 0;
padding:5px 0;
font-size:150%;
color: #000;
} */

/* .board_detail h1{
	margin:10px 0;
	padding:5px 0;
	font-size:150%;
	color: #000;
} */

/* .typo_gy h2{
margin:10px 0;
padding-bottom:2px;
font-size:130%;
font-weight:normal;
color: #333;
} */

/* .board_detail h2{
	margin:10px 0;
	padding-bottom:2px;
	font-size:130%;
	font-weight:normal;
	color: #333;
} */

/* .typo_gy h3{
margin:10px 0;
font-size:100%;
font-weight:normal;
color:#2e2c2c;
} */

/* .board_detail h3{
	margin:10px 0;
	font-size:100%;
	font-weight:normal;
	color:#2e2c2c;
} */

/* .typo_gy blockquote {
clear:both;
padding:0px 0 10px 15px;
margin:10px 0 25px 30px;
border-left:5px solid #ccc;
} */

/* .board_detail blockquote {
	clear:both;
	padding:10px 0 10px 15px;
	margin:10px 0 25px 30px;
	border-left:5px solid #ccc;
} */
 
/* .typo_gy blockquote p{padding:5px 0;}
.board_detail blockquote p{padding:5px 0;} */

.typo_gy table {
  padding:0;
  border: 1px #ccc solid;
  border-collapse: collapse;
  border-spacing: 0;
  margin:10px 10px 10px 20px;
}

.typo_gy table th{
padding:10px;
border: #ccc solid;
border-width: 0 0 1px 1px;
background:#faf1df;
}

.typo_gy table td{
padding:10px;
border: 1px #ccc solid;
border-width: 0 0 1px 1px;
background:#fff;
}


textarea {
	width: 100%;
}

tbody {
	padding:0;
}

.typo_gy dt{font-weight:bold;}

.typo_gy dd{padding-bottom:10px;}

.typo_gy img{max-width:100%;height:auto;}

/* img.aligncenter {
display: block;
margin:5px auto;
}

img.alignright, img.alignleft{
margin: 10px 10px 15px 15px;
display:inline;
}

img.alignleft{margin:10px 15px 15px 10px;} */

.alignright{float:right;}
.alignleft{float:left;}


/* サイドバー　ウィジェット
*****************************************************/
section.widget ul, .widget_search, #calendar_wrap, .textwidget{
margin:0 0 20px 0;
padding:5px 10px 10px 17px;
border:1px solid #e2d7c2;
background: #FCFCE0;
}

section.widget ul ul{
border:0;
margin:0;
padding:0 0 0 10px;
}

section.widget ul img{
	text-align:center;
}

section.widget h3{
clear:both;
margin:0;
padding:7px 10px 7px 10px;
font-size:110%;
border:1px solid #e2d7c2;
border-bottom:0;
color:#fff;
background:#562E02 url(images/headingBg.png) repeat-x 0 100%;
}
section.widget h3 a{
color:#fff;
}
section.widget h3 a:hover, a:active{
outline: none;
color:#990000;
}
section.widget li a{
display:block;
padding:7px 0 7px 12px;
background:url(images/arrow.gif) no-repeat 0 12px;
border-bottom:1px dashed #dcdcdc;
}

section.widget li:last-child a{border:0;}

input[type="text"]{
	width:auto
}


/* フッター
*****************************************************/
#copyright{
  clear:both;
  padding:10px 0 37px;
  text-align:center;
  color:#000;
  font-size:10px;
}


/* page navigation
------------------------------------------------------------*/
.pagenav{
  clear:both;
  width: 100%;
  height: 30px;
  margin: 5px 0 20px;
}

.prev{float:left}

.next{float:right;}

#pageLinks{
  clear:both;
  color:#4f4d4d;
  text-align:center;
}


/* トップページ 最新記事4件
------------------------------------------------------------*/
.typo_gy{
  padding:0;
}

/* bootstrap pagination */
ul.pagination li {
  margin: 0;
  padding: 10;
  border-bottom: none
}

.typo_gy li:last-child{border:0;}
.typo_gy li:last-child{border:0;}

.typo_gy img{
  /* float:left; */
  margin:0 5px 5px 10px;
}

.typo_gy h3{
  margin:0 0 10px 10px;
  font-size:14px;
  font-weight:normal;
  color:#333;
  border:0;
}

.typo_gy h3{
	margin:0 0 10px 10px;
	font-size:14px;
	font-weight:normal;
	color:#333;
	border:0;
}

nav#mainNav ul li.current-menu-item a, nav#mainNav ul li a:hover span, nav#mainNav ul li a:hover, nav#mainNav ul li.current-menu-parent a{
  color:#4c4c4c;
}


/* メインメニュー　PC用
------------------------------------------------------------*/
/* @media only screen and (min-width: 1025px){
  nav#mainNav{
	clear:both;
	position:relative;
	z-index:200;
	width:100%;
	}
	
	nav#mainNav .inner{
	padding-left:1px;
	background:url(images/mainNavSep.png) no-repeat 0 5px;
	}

	nav#mainNav ul li{
	float: left;
	position: relative;
	background:url(images/mainNavSep.png) no-repeat 100% 5px;
	}
	
	nav#mainNav ul li a{
	display: block;
	text-align: center;
	_float:left;
	color:#000;
	height:35px;
	line-height:45px;
	font-size:110%;
	margin-right:1px;
	padding:10px 33px 0;
	font-weight:bold;
	}
	
	nav#mainNav ul li a span,nav#mainNav ul li a strong{
	display:block;
	font-size:100%;
	line-height:1.4;
	}
	
	nav#mainNav ul li a span{
	font-size:70%;
	color:#4B3318;
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	}

	nav div.panel{
  display:block !important;
  float:left;
  }
  
  a#menu{display:none;}
  
  nav#mainNav ul li.current-menu-item a, nav#mainNav ul li a:hover span, nav#mainNav ul li a:hover, nav#mainNav ul li.current-menu-parent a{
  color:#4c4c4c;
  }
  
  nav#mainNav ul ul{
	width:131px;
	border:1px solid #e2d7c2;
	border-top:0;
	}
  
  nav#mainNav ul li ul{display: none;}
  
  nav#mainNav ul li:hover ul{
  display: block;
  position: absolute;
  top:42px;
  left:-1px;
  z-index:500;
  }
	
  nav#mainNav ul li li{
	margin:0;
  float: none;
  height:40px;
  line-height:40px;
  width:131px;
	background:#faf1df;
	border-bottom:1px dotted #e2d7c2;
  }
	
	nav#mainNav ul li li:last-child{border:0;}
	
  nav#mainNav ul li li a{
  width:100%;
  height:40px;
	padding:0 0 0 10px;
  line-height:40px;
  font-size:95%;
  text-align:left;
  }
	
	nav#mainNav ul li li.current-menu-item a,nav#mainNav ul li li a:hover{color:#6f6f6f}

} */

/* メインメニュー iPadサイズ以下から
------------------------------------------------------------*/
/* @media only screen and (max-width:1024px){
	nav#mainNav{
	clear:both;
	width:880px;
	margin:0 auto 10px;
	border:1px solid #e2d7c2;
	}
	
	nav#mainNav a.menu{
    width:100%;
    display:block;
    height:37px;
    line-height:37px;
    font-weight: bold;
    text-align:left;
    background: url(images/menuOpen.png) no-repeat 5px 8px;
	}
	
	nav#mainNav a#menu span{
    padding-left:35px;
	}
	
	
	nav#mainNav a.menuOpen{
	  background: url(images/menuOpen.png) no-repeat 5px -34px;
	}
	
	nav#mainNav a#menu:hover{cursor:pointer;}
	
	nav .panel{
    display: none;
    width:100%;
    position: relative;
    right: 0;
    top:0;
    z-index: 1;
	}

	nav#mainNav ul{margin:0;padding:0;}

	nav#mainNav ul li{
    float: none;
    clear:both;
    width:100%;
    height:auto;
    line-height:1.2;
	}

	nav#mainNav ul li:first-child{border-top:1px solid #e2d7c2;}
	nav#mainNav ul li li:first-child{border-top:0;}

	nav#mainNav ul li a,nav#mainNav ul li.current-menu-item li a{
	display: block;
	padding:0px;
	text-align:left;
	border-bottom:1px dashed #ccc;
	background:#fff;
	}
	
	nav#mainNav ul li:last-child a{border:0;}
	nav#mainNav ul li li:last-child a{border:0;}
	nav#mainNav ul li li:last-child a{border-bottom:1px dashed #ccc;}

 	nav#mainNav ul li a span{display:none;}
 
	nav#mainNav ul li.current-menu-item a,nav#mainNav ul li a:hover,nav#mainNav ul li.current-menu-item a,nav#mainNav ul li a:active, nav#mainNav ul li li.current-menu-item a, nav#mainNav ul li.current-menu-item li a:hover, nav#mainNav ul li.current-menu-item li a:active{
	background:#f6f6f6;
	}

	nav#mainNav ul li li{
	float:left;
	border:0;
	}

	nav#mainNav ul li li a, nav#mainNav ul li.current-menu-item li a, nav#mainNav ul li li.current-menu-item a{
  padding-left:40px;
	background:#fff url(images/sub1.png) no-repeat 20px 18px;
			  color:rgba(136,72,0,1.00);
			  font-weight:bold;
			  }

	nav#mainNav ul li li.current-menu-item a,nav#mainNav ul li li a:hover, nav#mainNav ul li.current-menu-item li a:hover{
		background:#f6f6f6 url(images/sub1.png) no-repeat 20px -62px;}
	
	nav#mainNav ul li li:last-child a{background:#fff url(images/subLast.png) no-repeat 20px 20px;}
	nav#mainNav ul li li:last-child.current-menu-item a,nav#mainNav ul li li:last-child a:hover,nav#mainNav ul li.current-menu-item li:last-child a:hover{background:#f6f6f6 url(images/subLast.png) no-repeat 20px -65px;}
	
	nav div.panel{float:none;}
	
	#mainImg{margin-bottom:20px;}
} */


/* 959px以下から 1カラム表示
------------------------------------------------------------*/
/* @media only screen and (max-width: 959px){
  #wrapper, .inner{width:100%;}

	#header{width:96%;padding:0 2%;}
	
	.contact{padding:10px 0 10px;}

  nav#mainNav{width:95%;}

	nav#mainNav ul{margin:0 auto;}
	nav#mainNav ul ul{padding:0;}

	nav div.panel{float:none;}
	
	#mainImg img{width:98%;height:auto;}

	#content, #sidebar{clear:both;width:95%;float:none;margin:0 auto;padding:10px 0;	}
	
	.banner{width:100%;margin:0 auto;text-align:center;}
  p.banner img{width:100%;height:auto;}
	section.widget_search{text-align:center;}
	#calendar_wrap table{width:260px;}
	
	#footer li{margin-bottom:10px;}
	
} */


/* 幅644px以下から ヘッダー等微調節
------------------------------------------------------------*/
/* @media only screen and (max-width: 644px){
	nav#mainNav{width:98%;}
	#header{text-align:center;background-image:none;}
	#header h2,.contact{float:none;}
	.contact{padding:0 0 20px;}
	.contact p{text-align:center;}
	#headerInfo{width:250px;margin:0 auto;}
	img.alignright, img.alignleft{display: block;	margin:5px auto;}
	.alignright,.alignleft{float:none;}
} */


/* カレンダーレスポンシブ用
------------------------------------------------------------*/
/* オブジェクト設定 */
embed,
iframe,
object{
	max-width: 100%;
}
 
/* Youtubeレスポンシブ用
------------------------------------------------------------*/
.youtube iframe{
  width: 100%;
}
/* fbプラグインレスポンシブ用
------------------------------------------------------------*/
/* .fb_plgin{
  width: 100%;
} */